<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>ActividadServlet</servlet-name>
        <servlet-class>com.gorka.web.ActividadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarUsuarioServlet</servlet-name>
        <servlet-class>com.gorka.web.RegistrarUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EquipamientoServlet</servlet-name>
        <servlet-class>com.gorka.web.EquipamientoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IniciarSesionServlet</servlet-name>
        <servlet-class>com.gorka.web.IniciarSesionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarEquipamientoServlet</servlet-name>
        <servlet-class>com.gorka.web.RegistrarEquipamientoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesionServlet</servlet-name>
        <servlet-class>com.gorka.web.CerrarSesionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarActividadServlet</servlet-name>
        <servlet-class>com.gorka.web.RegistrarActividadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioServlet</servlet-name>
        <servlet-class>com.gorka.web.InicioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarEquipamientoServlet</servlet-name>
        <servlet-class>com.gorka.web.EditarEquipamientoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarEquipamientoServlet</servlet-name>
        <servlet-class>com.gorka.web.EliminarEquipamientoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedServlet</servlet-name>
        <servlet-class>com.gorka.web.RedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarActividadServlet</servlet-name>
        <servlet-class>com.gorka.web.EliminarActividadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>com.gorka.web.UsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarUsuarioServlet</servlet-name>
        <servlet-class>com.gorka.web.EditarUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PerfilServlet</servlet-name>
        <servlet-class>com.gorka.web.PerfilServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MetricaServlet</servlet-name>
        <servlet-class>com.gorka.web.MetricaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActividadServlet</servlet-name>
        <url-pattern>/Actividad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarUsuarioServlet</servlet-name>
        <url-pattern>/RegistrarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EquipamientoServlet</servlet-name>
        <url-pattern>/Equipamiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IniciarSesionServlet</servlet-name>
        <url-pattern>/IniciarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarEquipamientoServlet</servlet-name>
        <url-pattern>/RegistrarEquipamiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesionServlet</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarActividadServlet</servlet-name>
        <url-pattern>/RegistrarActividad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioServlet</servlet-name>
        <url-pattern>/Inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarEquipamientoServlet</servlet-name>
        <url-pattern>/EditarEquipamiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarEquipamientoServlet</servlet-name>
        <url-pattern>/EliminarEquipamiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedServlet</servlet-name>
        <url-pattern>/Red</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarActividadServlet</servlet-name>
        <url-pattern>/EliminarActividad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/Usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarUsuarioServlet</servlet-name>
        <url-pattern>/EditarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PerfilServlet</servlet-name>
        <url-pattern>/Perfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MetricaServlet</servlet-name>
        <url-pattern>/Metrica</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
